.primary-color {
  color: crimson;
} 

.container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 50px;
  height: 100vh;
  background-color:mintcream;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* HEADER STYLES */

.header, .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 0 16px;
}

.header {
  grid-area: header;
  background-color: crimson;
}

.header__shop-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.header__shop-title {
  font-weight: bold;
}

.header__user {
  background-color: white;
}

.header__shop-icon {
  background-color: white;
  background-image: url("../assets/img/fire-logo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* SIDENAV STYLES */

.sidenav {
  grid-area: sidenav;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 90vw;
  right: 0;
  position: fixed;
  overflow-y: auto;
  z-index: 1;
  background-color: rgb(225, 228, 226);
  /* transform: translateX(245px);
  transition: all .6s ease-in-out; */
}

.sidenav__cart-title {
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  padding: 15px;
  color: white;
  background-color: crimson;
}

.sidenav__cart {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidenav__cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0px;
  margin: 5px 5px;
  background-color: white;
}

.sidenav__cart-item-price {
  font-weight: bold;
}

.sidenav__cart-item-name {
  color: crimson;
  font-weight: bold;
}

.sidenav__item-info {
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.sidenav__item-info img {
  background-color: rgb(225, 228, 226);
}

.sidenav__cart-info {
  padding: 0;
  margin: 0px 5px;
  background-color: white;
}

.sidenav__cart-subtotal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  border-bottom: solid 1px #bdbbbc;
}

.sidenav__cart-subtotal span {
  font-weight: bold;
  font-size: 1.2em;
}

.sidenav__cart-finish {
  text-align: center;
  margin: 10px 0px;
}

/* MAIN SECTION STYLES */

.main {
  grid-area: main;
}

.main-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(minmax(300px, 1fr));
  gap: 20px;
  margin: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  border: solid 1px rgb(191, 201, 211);
  background-color: ghostwhite;
  cursor: pointer;
}

.item__photo {
  display: flex;
  justify-content: center;
  border-bottom: solid 1px rgb(191, 201, 211);
  padding: 20px 0px;
}

.item__photo img {
  height: 160px;
}

.item__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.item__description {
  display: flex;
  flex-direction: column;
}

.item__name {
  font-weight: bold;
  color: darkslategray;
}

.item__price {
  font-size: 1.2em;
  font-weight: bold;
}

.btn {
  border-radius: 8px;
  border: none;
  padding: 10px 15px;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.btn__primary {
  background-color: crimson;
}

.footer {
  grid-area: footer;
  background-color: maroon;
}